@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Bem-vindo ao Sistema de Gestão de Almoxarifado</h1>

    <p>O almoxarifado é um setor fundamental em qualquer organização, responsável pelo armazenamento, controle e distribuição de materiais e produtos. É nele que são guardados os recursos necessários para o funcionamento da empresa, desde materiais de escritório até produtos acabados prontos para entrega.</p>

    <p>Um bom sistema de gestão de almoxarifado é essencial para garantir a eficiência e a organização dos processos internos da empresa. Ele permite controlar o estoque de forma precisa, reduzir custos, evitar desperdícios e agilizar a logística de distribuição dos materiais.</p>

    <p>Neste sistema, você terá acesso a diversas funcionalidades, como:</p>

    <ul>
        <li>Cadastro e categorização de itens do almoxarifado;</li>
        <li>Controle de entrada e saída de materiais;</li>
        <li>Monitoramento do estoque atual;</li>
        <li>Relatórios e análises sobre o desempenho do almoxarifado;</li>
        <li>Integração com outros setores da empresa, como compras e vendas.</li>
    </ul>

    <p>Com um sistema de gestão de almoxarifado eficiente, sua empresa estará mais preparada para enfrentar os desafios do mercado, garantindo a satisfação dos clientes e o sucesso do negócio.</p>

    <p>Explore todas as funcionalidades e aproveite ao máximo as vantagens que nosso sistema tem a oferecer!</p>
</div>