@page "/excluiritem/{ItemId}"
@using AlmoxarifadoFront.Services
@using AlmoxarifadoModel
@inject AlmoxarifadoService AlmoxarifadoService
@inject NavigationManager NavigationManager

<PageTitle>Confirmação de Exclusão</PageTitle>

<h3>Confirmação de Exclusão</h3>

@if (ItemExcluir != null)
{
    <div>
        <p>Você tem certeza que deseja excluir o seguinte item?</p>
        <p><strong>Item:</strong> @ItemExcluir.Item</p>
        <p><strong>Quantidade:</strong> @ItemExcluir.Quantidade</p>
        <p><strong>Categoria:</strong> @ItemExcluir.Categoria</p>
        <button class="btn btn-danger" @onclick="ConfirmarExclusao">Confirmar</button>
        <button class="btn btn-secondary" @onclick="CancelarExclusao">Cancelar</button>
    </div>
}
else
{
    <p>Nenhum item selecionado para exclusão.</p>
}

@code {
    [Parameter]
    public string ItemId { get; set; }

    private Almoxarifado ItemExcluir;

    protected override async Task OnInitializedAsync()
    {
        ItemExcluir = await AlmoxarifadoService.GetItemById(ItemId);
    }

    private async Task ConfirmarExclusao()
    {
        await AlmoxarifadoService.DeleteItem(ItemId);
        NavigationManager.NavigateTo("/listaitem");
    }

    private void CancelarExclusao()
    {
        NavigationManager.NavigateTo("/listaitem");
    }
}

